#app {
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  margin:0;
  padding:10px 20px;
  /* margin-top: 80px; */
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
}
.el-button {
  cursor: pointer;
}
/*滚动条美化*/
*::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background-color:#F1F1F1;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
*::-webkit-scrollbar-thumb {
  background-color: #d8d9da;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
